<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FORM</title>
    <link rel="icon" type="image/x-icon" sizes="72x72" href="../android-icon-72x72.png">
</head> 
<body>
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <form id="app" @submit="checkForm">
          <p v-if="errors.length">
            <b>به خطاهای زیر توجه فرمایید</b>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
          <div class="notification">
            <!--USER NAME-->
            <div class="field form-group">
              <label class="label">نام کاربری</label>
              <div class="control">
                <input class="input" type="text" placeholder="نام کاربری" v-model="name">
              </div>
            </div>
            <!--NATIONAL CODE-->
            <div class="field">
              <label class="label">کد ملی</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" placeholder="کد ملی">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
            </div>
            <!----telephon------>
            <div class="field">
              <label class="label">موبایل</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="tel" placeholder="موبایل" id="phone" v-model="phone">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <!--<p class="help is-danger" id="phone-messsage"></p>-->
            </div>
            <!----pass------>
            <div class="field">
              <label class="label">رمز عبور</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="password" placeholder="رمز عبور" id="pwd" v-model="pwd">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <!--<p class="help is-danger" id="password-messsage"></p>-->
            </div>
            <!----Confirm pass------>
            <div class="field">
              <label class="label">تکرار رمز عبور</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="password" placeholder="تکرار رمز عبور" v-model="confirmPwd" id="confirm-pwd">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <!--<p class="help is-danger" id="confirm-messsage"></p>-->
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">ثبت نام</button>
              </div>
              <div class="control">
                <button class="button is-link is-light">لغو</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>